ul {
  width: 100%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  margin: 0;
  padding: 10px 0;
  li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    width: 24px;
    height: 24px;
    text-align: center;
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
  }
}



